
.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #cccccc;
  margin-bottom: 25px;
  position: fixed;
  background-color: white; 
  top: 0;
  right: 0px;
  left: 0px;
  z-index: 100;
}

.left-header{
  /* background-color: lightpink;  */
  width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu{
  width: 25px;
  margin-left: 22px;
  cursor: pointer;
}

.youtube-logo{
  width: 88px;
  cursor: pointer;
}

.middle-header{
  /* background-color: lightblue; */
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 820px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search {
  flex: 1;
  max-width: 340px;
  padding-left: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  box-shadow: inset 0px 1px 2px #eeeeee;
 
  width: 10px;
  margin-left: 190px;
}

.search-icon{
  width: 25px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  /* background-color: red; */
  cursor: pointer;
}
.search-icon-button{
  border: 1px solid #cccccc;
  box-shadow: inset 0px 1px 2px #eeeeee;
  position: relative;
}

.tooltip{
  font-family: roboto,arial;
  font-size: 12px;
  position: absolute;
  background-color: gray;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 2px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.22s;
  pointer-events: none;
  white-space: nowrap;
}

.search-icon-button:hover .tooltip{
  opacity: 1;
}

.search-voice-icon{
  width: 25px;
  border: none;
  border-radius: 20px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(231, 222, 222);
  cursor: pointer;
}

.search-voice-icon-button{
  border: none; 
  margin-left: 8px; 
  background-color: white;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-voice-icon-button:hover .tooltip{
  opacity: 1;
  bottom: -35px;
}

.right-header{
  /* background-color: lightpink; */
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.upload-icon-contener,.YouTube-apps-contener,
.notification-icon-contener{
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-icon-contener:hover .tooltip ,
.YouTube-apps-contener:hover .tooltip ,
.notification-icon-contener:hover .tooltip{
  opacity: 1;
  bottom: -40px;
}


.notification-number{
  position: absolute;
  background-color: rgb(190, 29, 29);
  color: white;
  top: -1px;
  right: -5px;
  padding-left: 4.5px;
  padding-right: 4.5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
}
.upload-icon{
  width: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.youtube-apps-icon{
  width: 25px;
  cursor: pointer;
}

.notification-icon{
  width: 25px;
  cursor: pointer;
}

.profile-icon{
  width: 35px;
  height: 35px;
  cursor: pointer;
}


